{% extends 'base.html' %}

{% block content %}
<div class="container " style="justify-content: center; text-align: center;">
    <h1>{{ nama_daftar }}</h1>
</div>

<div class="container mx-auto px-1 py-1 background-color-blue"  >
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th class="text-center">Judul</th>
                <th class="text-center">Action</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for daftarfavorit in hasil %}
            <tr>
                <td>{{ daftarfavorit.judul }}</td>
                <td class="text-center">
                    <a href="{% url 'daftar_favorit:delete-tayangan-daftar-favorit' tayangan=daftarfavorit.id daftar_favorit=nama_daftar timestamp=daftarfavorit.timestamp %}">
                        <button type="button" class="btn btn-danger">
                            Delete
                        </button>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}