{% extends 'base.html' %}
{% load static %}

{% block content %}

<main class="container-lg">
  <h1 class="my-4">Daftar Tayangan</h1>

  <form class="d-flex my-4" role="search">
    <input id="search-bar" class="form-control me-2" type="search" placeholder="Cari tayangan berdasarkan judul..."
      aria-label="Search">
    <button id="search-button" class="btn btn-outline-success" type="submit">Search</button>
  </form>

  <section class="my-4">
    <h2>10 Tayangan Terbaik Minggu ini</h2>
    <table class="table  table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">Peringkat</th>
          <th scope="col">Judul</th>
          <th scope="col">Sinopsis Trailer</th>
          <th scope="col">URL Trailer</th>
          <th scope="col">Tanggal Rilis Trailer</th>
          <th scope="col">Total View (7 hari terakhir)</th>
        </tr>
      </thead>
      <tbody id="tayangan-terbaik-tbody" class="table-group-divider"></tbody>
    </table>
  </section>


  <section class="my-4">
    <h2>Film</h2>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">Judul</th>
          <th scope="col">Sinopsis Trailer</th>
          <th scope="col">URL Trailer</th>
          <th scope="col">Tanggal Rilis Trailer</th>
        </tr>
      </thead>
      <tbody id="film-tbody" class="table-group-divider"></tbody>
    </table>
  </section>


  <section class="my-4">
    <h2>Series</h2>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">Judul</th>
          <th scope="col">Sinopsis Trailer</th>
          <th scope="col">URL Trailer</th>
          <th scope="col">Tanggal Rilis Trailer</th>
        </tr>
      </thead>
      <tbody id="series-tbody" class="table-group-divider"></tbody>
    </table>
  </section>

</main>

<script src="{% static 'js/daftar_trailer.js' %}"></script>
{% endblock content %}